.cards-container {
  border: 1px solid #0000001f;

  mat-card {
    img {
      width: 150px;
    }

    width: 200px;

    &:hover {
      cursor: pointer;
    }
  }

  mat-drawer {
    width: 40%;
    padding: 20px;

    .drawer-header {
      display: flex;
      justify-content: space-between;
    }

    .drawer-content {
      p {
        margin: 30px 0;
      }
    }

    .actions {
      display: flex;
      flex-direction: column;

      button {
        margin-bottom: 10px;
      }
    }
  }
}
