<div class="icon-grid">
  <ng-container *ngIf="dataSource.length === 0">
    <div class="icon-grid__empty">
      <mat-icon>folder</mat-icon>
      <p>No files found. Upload new file to get started.</p>
    </div>
  </ng-container>
  <div class="icon-grid-item" *ngFor="let item of dataSource">
    <mat-card
      [class.selected]="item.id === selectedItem?.id"
      (click)="onCardSelect(item)"
    >
      <mat-card-content matRipple>
        <img
          mat-card-image
          [src]="getImage(item.detail)"
          [alt]="getFileName(item.detail)"
        />
        <p class="icon-grid-item-name">{{ getFileName(item.detail) }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
