<div class="new-file">
  <h2 mat-dialog-title>Upload new file</h2>
  <mat-dialog-content>
    <form class="new-file-form" [formGroup]="form">
      <app-file-upload
        class="new-file-form-upload"
        formControlName="file"
      ></app-file-upload>
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="isUploading"
      ></mat-progress-bar>

      <ng-container
        formArrayName="properties"
        *ngIf="propFormArray.controls.length"
      >
        <h3>Details</h3>
        <div
          class="new-file-form-prop"
          *ngFor="let propForm of propFormArray.controls; let i = index"
        >
          <ng-container [formGroupName]="i">
            <!-- VALUE -->
            <mat-form-field
              *ngIf="
                propForm.get('type')?.value === valueType.String ||
                propForm.get('type')?.value === valueType.Number
              "
            >
              <input type="text" matInput formControlName="value" />
              <mat-label>{{ propForm.get('name')?.value }}</mat-label>
            </mat-form-field>
            <mat-checkbox
              *ngIf="propForm.get('type')?.value === valueType.Boolean"
              formControlName="value"
              (change)="onCheckValueChange(propForm)"
              [checked]="propForm.get('value')?.value === 'true' || false"
              >{{ propForm.get('name')?.value }}</mat-checkbox
            >
            <mat-form-field
              *ngIf="propForm.get('type')?.value === valueType.Date"
            >
              <mat-label>{{ propForm.get('name')?.value }}</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="value"
                placeholder="MM/DD/YYYY"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <!-- END OF VALUE -->
          </ng-container>
        </div>
      </ng-container>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button
      mat-raised-button
      color="accent"
      [disabled]="form.invalid || isSaving || isUploading"
      (click)="saveFile(form.value)"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
