.new-file {
  &-form {
    min-width: 30vw;
    display: flex;
    flex-direction: column;

    &-upload {
      margin-bottom: 20px;
    }
  }

  &-form-prop {
    display: flex;
    flex-direction: column;

    mat-form-field,
    mat-checkbox {
      margin-bottom: 10px;
    }
  }
}
