.menu {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .expand-icon {
    font-size: 30px;
  }

  h2 {
    margin: 5px;
    letter-spacing: 0.6px;
    font-size: 40px;
    min-width: 20vw;
    max-width: 30vw;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
