.task-grouping {
  min-width: 800px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.group-actions-row {
  // display: inline-flex;
  margin-left: auto;
  button {
    margin-right: 10px;
  }
}

.grid-actions-row {
  display: flex;
  //   flex-direction: row-reverse;
  margin: 10px 0;
  button {
    margin-right: 10px;
  }

  .view-toggle::ng-deep .mat-button-toggle-label-content {
    line-height: 35px;
  }
}

.search {
  margin: 20px 20px 0 20px;
}

.right {
  margin-left: auto;
}

.spinner {
  margin: 50px auto;
}

mat-drawer-container {
  border: 1px solid #0000001f;

  mat-drawer-content {
    min-height: 60vh;

    .empty-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;

      mat-icon {
        font-size: 50px;
        height: 50px;
        width: 50px;
      }
    }
  }

  mat-drawer {
    width: 40%;
    padding: 20px;

    .drawer-close {
      display: flex;
      justify-content: flex-end;
    }
  }
}
