<h2>Task Grouping</h2>

<div class="d-flex-row d-align-ctr">
  <app-group-select
    *ngIf="groupingList$ | async as groupingList"
    [groupingList]="groupingList.items"
    (groupSelected)="onGroupSelected($event)"
  ></app-group-select>
  <div class="group-actions-row">
    <button
      mat-button
      class="add-group-btn"
      *ngIf="selectedGroupName"
      (click)="openEditGroupModal()"
    >
      Edit Group
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-button *ngIf="selectedGroupName">
      Generate report
      <mat-icon>trending_up</mat-icon>
    </button>
    <button
      mat-raised-button
      color="accent"
      class="add-group-btn"
      (click)="openAddGroupModal()"
    >
      New Group
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<mat-divider></mat-divider>
<div class="grid-actions-row">
  <button mat-stroked-button color="accent">
    Upload New File
    <mat-icon>upload</mat-icon>
  </button>
  <button mat-stroked-button [disabled]="selectedItems.length < 1">
    Delete
    <mat-icon>delete</mat-icon>
  </button>

  <div class="right">
    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      class="view-toggle"
      aria-label="Details View"
      [value]="'icon'"
    >
      <mat-button-toggle value="icon" matTooltip="Icon View">
        <mat-icon>grid_view</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="table" matTooltip="Table View">
        <mat-icon>table_view</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<ng-container *ngIf="dataSource$ | async as data">
  <app-group-icon-view
    *ngIf="group.value === 'icon'"
    [dataSource]="data.items"
    [selectedGroup]="selectedGroup"
  ></app-group-icon-view>
</ng-container>
<ng-container *ngIf="gridData$ | async as data">
  <app-group-table
    *ngIf="group.value === 'table'"
    [dataSource]="data"
    (selectionChanged)="onSelectRow($event)"
  ></app-group-table>
</ng-container>

<ng-container *ngIf="isLoading">
  <mat-spinner class="spinner" color="accent"> </mat-spinner>
</ng-container>
