<h2 mat-dialog-title>Edit group</h2>
<mat-dialog-content class="mat-typography">
  <form class="group-form" [formGroup]="formGroup" *ngIf="group">
    <mat-form-field class="group-form-name">
      <mat-label>Group Name</mat-label>
      <input
        matInput
        placeholder="Enter group name"
        required
        formControlName="groupName"
      />
    </mat-form-field>

    <mat-divider></mat-divider>

    <h3>Details</h3>
    <ng-container formArrayName="properties">
      <div
        class="group-form-prop"
        *ngFor="let detailForm of detailsForms.controls; let i = index"
      >
        <ng-container [formGroupName]="i">
          <mat-form-field>
            <input
              matInput
              placeholder="Property name"
              formControlName="name"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-select required formControlName="type">
              <mat-option value="String"
                ><mat-icon>abc</mat-icon> String</mat-option
              >
              <mat-option value="Number"
                ><mat-icon>123</mat-icon> Number</mat-option
              >
              <mat-option value="Date"
                ><mat-icon>calendar_month</mat-icon> Date</mat-option
              >
              <mat-option value="boolean"
                ><mat-icon>toggle_on</mat-icon> Boolean</mat-option
              >
            </mat-select>
            <mat-label>Type</mat-label>
          </mat-form-field>
        </ng-container>
        <button
          class="group-form-prop-delete"
          mat-icon-button
          color="warn"
          (click)="deleteProperty(i)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ng-container>
    <div class="group-form-add-prop">
      <button mat-stroked-button color="accent" (click)="addProperty()">
        <mat-icon>add</mat-icon>Add Property
      </button>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    color="accent"
    [disabled]="formGroup.pristine || formGroup.invalid"
    (click)="saveGroup(formGroup.value)"
  >
    Submit
  </button>
</mat-dialog-actions>
