<h2 mat-dialog-title>New group</h2>
<mat-dialog-content class="mat-typography">
  <form class="group-form" [formGroup]="groupForm">
    <mat-form-field class="group-form-name">
      <mat-label>Group Name</mat-label>
      <input
        matInput
        placeholder="Enter group name"
        required
        formControlName="name"
      />
    </mat-form-field>

    <mat-divider></mat-divider>
    <ng-container *ngIf="hasSavedGroupName">
      <h3>Details</h3>
      <ng-container formArrayName="properties">
        <div
          class="group-form-prop"
          *ngFor="let detailForm of detailsForms.controls; let i = index"
        >
          <ng-container [formGroupName]="i">
            <mat-form-field>
              <input
                matInput
                placeholder="Property name"
                formControlName="name"
              />
            </mat-form-field>
            <mat-form-field>
              <mat-select required formControlName="type">
                <mat-option value="String"
                  ><mat-icon>abc</mat-icon> Text</mat-option
                >
                <mat-option value="Number"
                  ><mat-icon>123</mat-icon> Number</mat-option
                >
                <mat-option value="Date"
                  ><mat-icon>calendar_month</mat-icon> Date</mat-option
                >
                <mat-option value="boolean"
                  ><mat-icon>toggle_on</mat-icon> Boolean</mat-option
                >
              </mat-select>
              <mat-label>Type</mat-label>
            </mat-form-field>
          </ng-container>
        </div>
      </ng-container>
      <div class="group-form-add-prop">
        <button mat-stroked-button color="accent" (click)="addProperty()">
          <mat-icon>add</mat-icon>Add Property
        </button>
      </div>

    </ng-container>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    color="accent"
    (click)="hasSavedGroupName ? updateGroup() : saveNewGroup()"
  >
    {{ hasSavedGroupName ? 'Submit' : 'Next' }}
  </button>
</mat-dialog-actions>
